*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
    background-color: #202020;
    color: #e4e4e4;
}

::-webkit-scrollbar{
    width: .4rem;
    background-color: inherit;
}

::-webkit-scrollbar-thumb{
    background-color: #323232;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #383838;
}
