.container{
    margin: 5% auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 20px;
}

.img, .icon{
    width: 50px;
    height: 70px;
    padding-left: 0px;
    background-color: #e4e4e4;
}

.img i, .icon i{
    font-size: 5rem;
    color: brown;
    border-radius: 50%;
    position: relative;
    top: -5px;
    right: 10px;
    text-shadow: 0 4px 5px #141414;

}

.btns{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

.btn{
    background-color: #e4e4e4;
    box-shadow: 0 5px 5px 2px #181818;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    color: #454545;
    font-weight: 500;
    transition: opacity .3s ease-in-out;
}

.btn:hover{
    opacity: .8;
}

.menu_email{
    background-color: #e4e4e4;
    position: absolute;
    top: 1rem;

    left: 8rem;
    width: 80%;

    height: 90%;

    padding: 10px 20px;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    z-index: -1;
    opacity: 0;
    transform: translateY(-2rem);
    transition: all .3s ease;
}

.menu_email.open{
    z-index: 1;
    opacity: 1;
    transform: translateY(0);
}

.header{
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: black;
}

.menu_email main{
    display: flex;
    flex-direction: column;

    padding: 2px;
    gap: 10px;
}
.menu_email button{
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link_email{
    color: #454545;
    padding: 10px 20px 10px 5px;
    border-bottom: 1px solid #757575;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
}

.link_email span{
    border-radius: 50%;
    padding: 4px 14px;
    background-color: #5226d4;
    margin: 0 1rem 0 .4rem;
    font-weight: 700;
    font-size: 1.5rem;
    color: #e4e4e4;
}

.link_email i{
    font-size: 1.3rem;
    padding: 4px 14px;
}

.menu_email input{
    padding: 10px 15px;
    border-radius: 4px; 
    border: 1px solid #757575;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 500;
    transition: all .3s ease;
}

.menu_email input:hover{
    box-shadow: 0 3px 10px #757575;
}

.btn:nth-child(3){
    background-color: #5226d4;
    color: #e4e4e4;

}
.btn:nth-child(4){
    background-color: red;
    color: #e4e4e4;
}

.btn i{
    font-size: 1.25rem;
}

.fa-google{
    background: linear-gradient(170deg, red,gold, green, blue);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
}

footer {
    display: flex;
    justify-content: center;
}

footer .home{
    background-color: transparent;
    border: none;
    color: aqua;
    position: relative;
    font-size: 1.2rem;
    margin-top: -2.3rem;
    cursor: pointer;
    transition: text-shadow .3s ease-in-out;
}

footer .home::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: aqua;

    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .3s ease-out;
}

footer .home:focus::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

footer .home:hover{
    text-shadow: 0 0 10px gold;
}

@media screen and (max-width: 740px) {
    .menu_email{
        left: 2rem;
        width: 90%;
    }
}


@media screen and (max-width: 420px) {
    .container{
        margin: 50% auto 10%;
        flex-direction: column;
        gap: 100px;
    }
    .menu_email{
        left: 1rem;
        width: 90%;
    }
}